<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileappbook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".src.page.webview.WebView"></activity>
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".src.page.course.LessonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.course.CourseList2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.account.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.account.ActiveAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.tabbar.TabBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.account.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.splash.StartScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".src.page.account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.setting.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.account.RecoverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.setting.ActivitySetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.setting.ActivitySecurity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.setting.UserAvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.payment.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.course.CreateCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.course.CreateCourse2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.page.course.ChangeCourseAvataActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>