<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileappbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".src.page.account.ResetPasswordActivity"/>
        <activity android:name=".src.page.account.ActiveAccountActivity" />
        <activity android:name=".src.page.tabbar.TabBarActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".src.page.account.RegisterActivity" />
        <activity android:name=".src.page.splash.StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.page.account.LoginActivity" />
        <activity android:name=".src.page.setting.UserInfoActivity" />
        <activity android:name=".src.page.account.RecoverActivity" />
        <activity android:name=".src.page.setting.ActivitySetting" />
        <activity android:name=".src.page.setting.ActivitySecurity" />
        <activity android:name=".src.page.setting.UserAvatarActivity" />
        <activity android:name=".src.page.payment.PayActivity"/>
    </application>

</manifest>